.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.right-side{
    display: flex;
    flex-direction: row;
}

.logo{
    background-color: #fff;
}

.abstract,.help-center{
    color: #fff;
}