.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  padding: 60px;
  max-width: 900px;
  margin: 0 auto; /* Keeps it centered */
  width: 100%;
}

.service-info-flexbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  min-width: 0;
}

.service-image {
  object-fit: cover;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  margin-right: 20px;
}

.service-name {
  font-size: 14px;
  font-weight: 900;
  color: #000000;
}

.about-service {
  width: 100%;
  line-height: 26px;
  font-size: 15px;
}

.learn-more {
  text-decoration: none;
}
